@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');


body{
  background-color: #02001b;
  font-family: "Quicksand", sans-serif;
}
#navigation0202{
  padding: 10px;
  padding-top: 25px;
  background-color: #000;
  background-image: linear-gradient(180deg, #0000, #02001b);
}

#navcontents{
  color: #000424;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: 10px;
  width: fit-content;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  border: 0px solid #001524;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #17A9FD, #0165E1);


  font-weight: normal;
  border-radius: 0px;
  color: white;
  background-image: none;
}
#myIcon{
 /* margin-bottom: -5px; */
 margin-bottom: -5px;
}
#myDetails:hover, #myIcon:hover{
   cursor: pointer;
   color: #17A9FD;
}

#accountcolor{
  color: white;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  width: fit-content;
  margin: auto;
  gap: 15px;
  margin-top: 20px;
}

#iconmeta{
  background-image: url('../src/images/metamask.png');
  background-size: 80%;
  background-position: center;
  height: 50px;
  background-repeat: no-repeat;
  width: 50px;
}

#iconmetaview{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-bottom-left-radius: 2px;

  background-color: #ff000020;
  background-image: linear-gradient(180deg, #17A9FD, #0165E1);
  color: #ffff;
  font-weight: bold;
}

#iconmetaview:hover{
  cursor: pointer;
  background-image: none;
  background-color: #17A9FD;
  /* background-image: linear-gradient(180deg, aqua, rgb(0, 221, 255)); */
}

#profile{
  height: 200px;
  width: 200px;
  background-image: url('../src/NeedImgs/pic.png');
  background-size: 110%;
  background-position: center;
  border-radius: 120px;
  border: 2.5px solid #17A9FD;
  margin: auto;
}

#helloProfile{
  margin-top: 40px;
}
#textHeader01{
  color: #fff;
  padding: 10px;
  font-weight: bold;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#plancontainer{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: auto;
  width: fit-content;

  margin-top: 20px;
  border-bottom: 10px solid #dedede;

  background-color: #0f0e1b;
  border-bottom: none;
  height: fit-content;

  border: 0px solid #29255b;
  border-radius: 3px;
}
#hello-sir{
  text-align: center;
  font-size: 30px;
  color: #02001b;
  font-weight: 100;
  padding-bottom: 15px;
  color: #fff;
}

#plancontents{
  display: flex;
  gap: 10px;
}
#planny{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;

  padding-top: 40px;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  border: 1px solid #08005d;
  text-align: left;

  background-color: #030027;
  border-radius: 3px;
}

#buttonPlan{
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  background-color: #17A9FD;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffff;
  width: 100%;
  background-image: linear-gradient(180deg, #17A9FD, #0165E1);
  cursor: pointer;

  border-radius: 3px;
}

#buttonPlan01{
  color: white;
  text-align: justify;
  font-size: 20px;
  padding-bottom: 20px;
  width: 210px;
  white-space: normal;
}
#buttonPlan:hover{
  background-image: none;
  color: #000424;
  background-color: #fff;
}

#middlefeaturecontainer{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-top: 2px solid #001524;
  border-bottom: 2px solid #001524;
  margin-bottom: 30px;
}
#middleProfile{
  height: 80px;
  width: 80px;
  background-image: url('../src/NeedImgs/img01.png');
  background-size: 110%;
  background-position: center;
  border-radius: 120px;
  border: 2.5px solid #17A9FD;
  margin: auto;
}

#midheader01{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#helloflexmid {
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 10px;
  padding-top: 10px;
}
#yesuare{
  width: 300px;
  text-align: center;
  background-color: white;
  padding: 20px;
  color: #02001b;
  border-radius: 3px;
  border-bottom: 5px solid #dedede;
  font-weight: bold;
  height: fit-content;
}


#footha1{
  padding: 10px;
  padding-top: 0px;
  color: #b5b5b5;
  text-align: center;
  width: 700px;
  margin: auto;
}

#footha2{
  margin: auto;
  text-align: center;
  color: #000424;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 20px;
  background-color: #17A9FD;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #17A9FD, #0165E1);
  cursor: pointer;
}

#footha2:hover{
  text-decoration: underline;
  color: white;
}


#profileStats{
  background-image: url('./NeedImgs/p01.jpg');
  background-size: 180%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow:  0 0 10px #0165E1;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 100%;
  border: 10px solid #17a9fd39;
  background-position: center;
}

#containerpay{
  font-weight: bold;
  color: white;
  width: fit-content;
  border-radius: 10px;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #0073ff71;
  margin: auto;
  margin-bottom: 10px;
}

#containerpay a{
  padding: 10px;
  background-image: linear-gradient(180deg, #fd1751, #700000);
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

#stats-container{
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

#containStats{
  padding: 40px;
  width: fit-content;
  margin: 10px;
  background-color: #000424;
  border-radius: 0px;
  border: 1px solid #08005d;
  margin: auto;
  margin-top: 40px;
}

#containerstats01{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* border-radius: 15px; */
  border: 0px;
  background-color: white;
  color: #000424;
  font-weight: bold;
  /* background-image: linear-gradient(180deg, #1f004a, #13002e ); */
  background-color: transparent;
  border: 1px solid #08005d;
  width: fit-content;
  color: white;
  margin: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  #navcontents{
    font-size: 25px;
    text-align: center;
    width: fit-content;
    margin: auto;
  }

  #plancontents{
    display: grid;
    grid-template-columns: auto;
    gap: 10;
  }

  #textHeader01{
    color: #fff;
    padding: 10px;
    font-weight: normal;
    width: 300px;
    margin-top: 20px;
    white-space: normal;
    text-align: center;
  }

  #planny{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
  
    padding-top: 40px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border: 1px solid #08005d;
    text-align: left;
  
    background-color: #030027;
    border-radius: 3px;
    margin: auto;
  }

  #accountcolor{
    color: white;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    width: fit-content;
    margin: auto;
    gap: 15px;
    margin-top: 20px;
  }

  #hello-sir{
    text-align: center;
    font-size: 20px;
    color: #02001b;
    font-weight: 100;
    padding-bottom: 15px;
    color: #fff;
    font-weight: bold;
  }

  #helloflexmid {
    display: grid;
    grid-template-columns: auto;
    width: fit-content;
    margin: auto;
    gap: 10;
    padding-top: 10px;
  }

  #yesuare{
    width: fit-content;
    background-color: #ffffff30;
    padding: 20px;
    color: #fff;
    border-radius: 3px;
    border-bottom: 5px solid #dedede19;
    font-weight: normal;
    height: fit-content;
    text-align: justify;
    font-size: 16px;
  }

  #containerpay{
    font-weight: bold;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #0073ff71;
    margin: auto;
    margin: 20px;
    text-align: center;
  }

  #containerpay a{
    padding: 0px;
    background-image: none;
    text-decoration: none;
    border-radius: 10px;
    color: red;
  }

  #footha1{
    padding: 10px;
    padding-top: 0px;
    color: #b5b5b5;
    text-align: center;
    width: fit-content;
    margin: auto;
  }
}

