body{
  background-color: black;
  background-image: url('./assets/web_bg.jpg');
}

#imagecolor{
  background-image: linear-gradient(180deg, rgba(5, 5, 35, 0.8), rgba(5, 5, 35, 1));
}

#imagecolor{
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 10%;
  padding: 15px;
  border-radius: 10px;
}

#designer{
  display: flex;
  place-items: center;
  margin: 5px;
}

#hellobot{
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  font-size: 40px;
}

#imagecontainer01{
  background-image: url('../src/assets/poker.jpg');
  height: 300px;
  width: 600px;
  background-size: 100%;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}